body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

#mapCanvas img {
  max-width: none;
}

th.sorting_asc span {
  background: url(/images/sort-up.png) no-repeat 100% 50%;
  padding-right: 10px;
}

th.sorting_desc span {
  background: url(/images/sort-down.png) no-repeat 100% 50%;
  padding-right: 10px;
}

/* Axis */
.xaxis { clear: both; color: #777; font-weight: normal; list-style: none; margin-bottom: 25px; margin-right: 9px; font-size: 9px; width:300px;}
.xaxis .tick { float: left; margin: 0; text-align: center; width: 33.33%; }
.xaxis .tick.first { text-align: left; }
.xaxis .tick.last { float: right; text-align: right; }
